@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SETTING TYPOGRAPHY */

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  /* position: relative; */
}

/* colors */
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(229, 33%, 94%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Blue: hsl(240, 100%, 50%)
}

/* utilities */

.hidden {
  display: none;
}

.bold {
  font-weight: 800;
  color: var(--Black);
}

/* Buttons */
.quantity-btn button {
  width: 55px;
  height: 100%;
  background: none;
  cursor: pointer;
  transition: .2s;
}

.quantity-btn button:hover,
#addtocart:hover,
#checkout:hover {
  opacity: 0.5;
}

.quantity-btn {
  /* padding: 10px 20px; */
  height: 50px;
  width: 180px;
  background: var(--Light-grayish-blue);
  cursor: pointer;
  border-radius: 10px;
}

#quantity {
  padding-top: 12px;
  height: 50px;
  width: 70px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  background: var(--Light-grayish-blue);
  cursor: text;
}

#addtocart {
  text-align: center;
  background: var(--Orange);
  color: var(--White);
  width: 300px;
  height: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 10px 10px var(--Pale-orange);
  transition: .2s;
  margin-left: 20px;
}

#addtocart p {
  text-align: center;
  color: var(--White);
}

#addtocart img {
  margin-right: 10px;
  filter: brightness(250%);
}

#cart {
  position: relative;
  transition: 1s;

}

.cart-notification {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0px 9px;
  background: var(--Orange);
  color: var(--White);
  font-weight: 600;
  border-radius: 45%;
  text-align: center;
  z-index: 1;
  transition: 1s;
}

#cart .cart-list {
  position: absolute;
  top: 50px;
  right: -200px;
  width: 400px;
  height: 210px;
  border-radius: 15px;
  background: var(--White);
  box-shadow: 0px 10px 10px 15px var(--Light-grayish-blue);
  transition: .2s;
  z-index: 1;
}

.cart-list > p {
  padding: 20px 30px;
  font-weight: 800;
  border-bottom: 2px solid var(--Light-grayish-blue);
  transition: .5s;

}

.cart-body {
  color: var(--Dark-grayish-blue);
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin: 50px 0px;
  transition: .5s;
}

#display-item {
  margin-bottom: 15px;
}

.cart-body-item #display-item > div{
  color: var(--Dark-grayish-blue);
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}

#display-item > div > img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.cart-body-item #checkout {
  text-align: center;
  font-weight: 600;
  background: var(--Orange);
  color: var(--White);
  width: 350px;
  padding: 10px 20px;
  display: block;
  margin: 0px auto;
  border-radius: 10px;
  transition: 1s;
}

.avatar {
  transition: .1s;
}

.avatar:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}


button {
  border: none;
  cursor: pointer;
}

.container {
  margin: 0px auto;
  height: 100%;
  width: 80%;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px var(--Light-grayish-blue) solid;
}

.navbar img {
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.nav-links {
  margin-left: 30px;
}

.navbar-item {
  padding: 40px 10px;
  color: var(--Dark-grayish-blue);
  transition: .2s;
  height: 100%;
}

.navbar-item:hover, 
.nav-links .active {
  color: var(--Black);
  font-weight: 600;
  border-bottom: 3px solid var(--Orange);
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;
}

.navbar-right .avatar{
  width: 50px;
}

.mobile-nav {
  position: relative;
}

.mobile-nav .nav-close {
  z-index: 500;
  position: fixed;
  left: 3%;
  top: 5%;
}

.mobile-nav .navbar-left .nav-links {
  padding-top: 20px;
  display: block;
  background: var(--White);
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 200vh;
  left: 0%;
  top: 0%;
}

.mobile-nav .navbar-left .nav-links a {
  display: block;
  padding: 20px 0px;
  margin: 10px 0px;
  font-weight: 800;
  padding: 10px;
}

.mobile-nav-link {
  position: absolute;
  top: 3%;
}

.mobile-nav .navbar-item {
  height: 0%;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  /* height: 85%; */
  overflow: hidden;
}

main .item > img {
  width: 500px; 
  height: 500px;
  border-radius: 20px;
}

.thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  transition: .3s;
}

main .thumbnail img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: .3s;
  border-radius: 10px
}

.thumbnail img:hover {
  opacity: 0.5;
}


main .thumbnail img:first-child {
  margin-left: 0;
}

.item-details {
  width: 40%;
}

.item-details .company {
  text-transform:uppercase;
  color: var(--Orange);
  font-size: 14px;
  font-weight: 700;
}

.item-details .item-name {
  margin: 20px 0px;
  font-size: 3rem;
}

.item-details p {
  color: var(--Dark-grayish-blue);
}

.item-details .price {
  display: flex;
  align-items: center;
}

.item-details .price-tag {
  margin: 20px 0px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Black);
}

.item-details .percent {
  font-size: 16px;
  color: var(--Orange);
  background: var(--Pale-orange);
  font-weight: 900;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.item-details .old-price {
  color: var(--Grayish-blue);
  font-weight: 900;
  text-decoration: line-through;
}

.order-buttons .quantity-btn {
  display: flex;
  align-items: center;
}

.order-buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.lightbox {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: .5s;
}

.lightbox-main {
  width: 500px;
  margin: 50px auto;
  transition: .5s;
}

.cancel {
  width: 30px;
  margin: 15px auto;
  margin-right: 0px;
}

.cancel img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: .2s;
}

.lightbox-main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background: var(--White);
  cursor: pointer;
  display: block;
  transition: .5s;
  z-index: 10;
  text-align: center;

}

.left {
  margin-right: -17px;
} 

.right {
  margin-left: -17px;
} 


.left img,
.right img {
  height: 20px;
  padding: 0px 5px;
}

.cancel img:hover, 
.lightbox-main .right img:hover,
.lightbox-main .left img:hover {
  filter: invert(64%) sepia(64%) saturate(4311%) hue-rotate(348deg) brightness(106%) contrast(101%)
}

.lightbox-main .main {
  display: block;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  /* margin: 0px auto; */
  transition: .5s;
}

.lightbox-thumbnail {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.lightbox-thumbnail img {
  width: 100px;
  height: 102px;
  border-radius: 20px;
  cursor: pointer;
}

.lightbox-thumbnail img:hover {
  opacity: 0.5;
}

/* media queries */

@media only screen and (max-width: 1024px) {

  .navbar {
    padding: 10px 0px;
    position: relative;
  }

  .nav-links {
    margin-left: 0px;
    display: none;
  }

  .navbar-right {
    width: 13%;
  }

  main {
    flex-direction: column;
  }

  .thumbnail {
    display: none;
  }
  
  .hamburger-menu {
    height: 70px;
    width: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
    /* display: none; */
  }
  
  .hamburger,
  .hamburger-menu::after,
  .hamburger-menu::before {
    width: 60%;
    height: 5px;
    background: var(--Dark-grayish-blue);
    margin: 2px 0px;
    content: " "
  }
  
  .cancel-menu::before {
    display: none;
  }
  
  .cancel-menu::after {
    transform: rotate(45deg);
  }
  
  .cancel-menu .hamburger {
    transform: rotate(-45deg);
    position: absolute;
  }

  .item-details {
    width: 70%;
    margin: 20px 0px;
  }

  .item-details .item-name {
    font-size: 1.5rem;
  }

  .order-buttons {
    flex-direction: column;
    width: 100%;
  }

  .quantity-btn {
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
  }

  #addtocart {
    width: 100%;
    margin-left: 0px;
  }

}

@media only screen and (max-width: 600px) {

  .navbar-right {
    width: 25%;
  }

  .navbar-left {
    width: 60%;
  }

  .hamburger-menu {
    width: 70px;
  }

  #cart .cart-list {
    right: -90px;
  }
}