@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SETTING TYPOGRAPHY */

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* colors */
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(229, 33%, 94%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Blue: hsl(240, 100%, 50%)
}

/* utilities */

.hidden {
  display: none;
}

.bold {
  font-weight: 800;
  color: var(--Black);
}

/* Buttons */
.quantity-btn button {
  width: 55px;
  height: 100%;
  background: none;
  cursor: pointer;
  transition: .2s;
}

.quantity-btn button:hover,
#addtocart:hover,
#checkout:hover {
  opacity: 0.5;
}

.quantity-btn {
  /* padding: 10px 20px; */
  height: 50px;
  width: 180px;
  background: var(--Light-grayish-blue);
  cursor: pointer;
  border-radius: 10px;
}

#quantity {
  padding-top: 12px;
  height: 50px;
  width: 70px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  background: var(--Light-grayish-blue);
  cursor: text;
}

#addtocart {
  text-align: center;
  background: var(--Orange);
  color: var(--White);
  width: 300px;
  height: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 10px 10px var(--Pale-orange);
  transition: .2s;
  margin-left: 20px;
}

#addtocart p {
  text-align: center;
  color: var(--White);
}

#addtocart img {
  margin-right: 10px;
  filter: brightness(250%);
}

#cart {
  position: relative;
}

.cart-notification {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0px 9px;
  background: var(--Orange);
  color: var(--White);
  font-weight: 600;
  border-radius: 45%;
  text-align: center;
  z-index: 1;
  transition: .2s;
}

#cart .cart-list {
  position: absolute;
  top: 50px;
  right: -200px;
  width: 400px;
  height: 210px;
  border-radius: 15px;
  background: var(--White);
  box-shadow: 0px 10px 10px 15px var(--Light-grayish-blue);
  transition: .3s;
  z-index: 1;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.cart-list > p {
  padding: 20px 30px;
  font-weight: 800;
  border-bottom: 2px solid var(--Light-grayish-blue);
  transition: .5s;

}

.cart-body {
  color: var(--Dark-grayish-blue);
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  transition: .5s;
}

.cart-body-item > div {
  color: var(--Dark-grayish-blue);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}

.cart-body-item > div > img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.cart-body-item #checkout {
  text-align: center;
  font-weight: 600;
  background: var(--Orange);
  color: var(--White);
  width: 350px;
  padding: 10px 20px;
  display: block;
  margin: 0px auto;
  border-radius: 10px;
  transition: .5s;
}

.avatar {
  transition: .1s;
}

.avatar:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}


button {
  border: none;
  cursor: pointer;
}

.container {
  margin: 50px auto;
  width: 80%;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 35px; */
  height: 100px;
  border-bottom: 2px var(--Light-grayish-blue) solid;
}

.navbar img {
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
}

.nav-links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}

.navbar-item {
  color: var(--Dark-grayish-blue);
  transition: .2s;
  padding-top: 36px;
  height: 100%;
}

.navbar-item:hover {
  color: var(--Black);
  font-weight: 600;
  border-bottom: 3px solid var(--Orange);
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;
}

.navbar-right .avatar{
  width: 50px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

main .item img {
  width: 500px; 
  height: 500px;
  border-radius: 20px;
}

main .thumbnail img {
  width: 100px;
  height: 100px;
  margin: 10px 15px;
  cursor: pointer;
}

.thumbnail img:hover {
  opacity: 0.5;
}

main .thumbnail img:first-child {
  margin-left: 0;
}

/* main .thumbnail img:last-child {
  margin-right: 0;
} */

.item-details {
  width: 40%;
  /* word-wrap: break-word; */
}

.item-details .company {
  text-transform:uppercase;
  color: var(--Orange);
  font-size: 14px;
  font-weight: 700;
}

.item-details .item-name {
  margin: 20px 0px;
  font-size: 3rem;
}

.item-details p {
  color: var(--Dark-grayish-blue);
}

.item-details .price {
  display: flex;
  align-items: center;
}

.item-details .price-tag {
  margin: 20px 0px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Black);
}

.item-details .percent {
  font-size: 16px;
  color: var(--Orange);
  background: var(--Pale-orange);
  font-weight: 900;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.item-details .old-price {
  color: var(--Grayish-blue);
  font-weight: 900;
  text-decoration: line-through;
}

.order-buttons .quantity-btn {
  display: flex;
  align-items: center;
}

.order-buttons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 50px;
}

